<form class="{{cssClass}} bg" autocomplete="off">
  <div class="arma_caja">
    <header class="sheet-header arma_attrib">
        <img class="BOLprofile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input class="attrib2" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="flexrow arma_caja">
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">PROTECCIÓN</label>
          <select name="data.proteccion" data-dtype="String  arma_attrib">
             {{#select data.data.proteccion}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="D6-3">D6-3</option>
                <option value="D6-2">D6-2</option>
                <option value="D6-1">D6-1</option>
             {{/select}}
          </select>
       </div>
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">PENALIZADORES</label>
          <select name="data.penalizadores" data-dtype="String  arma_attrib">
             {{#select data.data.penalizadores}}
                <option value="Ninguno">Ninguno</option>
                <option value="Social">Social</option>
                <option value="Soc1Agil">Social/-1 Agilidad</option>
                <option value="Soc2Agil">Social/-2 Agilidad</option>
                <option value="Soc1Ini">Socila/-1 Iniciativa</option>
                <option value="1Agil">-1 Agilidad</option>
             {{/select}}
          </select>
       </div>
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">COSTE MÁGICO</label>
          <input class="arma_attrib attrib2" type="text" name="data.costeMagico" value="{{data.data.costeMagico}}" data-dtype="Number" maxlength="2"/>
       </div>
    </div>
       <div class="flexcol flexcenter arma_caja">
         <label class="arma_attrib attrib_name">DESCRIPCIÓN</label>
         <div class="flexcol flexcenter arma_caja cajacent">
         {{editor content=data.data.descripcion target="data.descripcion" button=true owner=owner editable=true}}
         </div>
      </div>
      </div>
</form>
