<form class="{{cssClass}} bg" autocomplete="off">
  <div class="arma_caja">
    <header class="sheet-header arma_attrib">
        <img  class="BOLprofile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input class="attrib2" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="flexrow arma_caja">
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">COSTE</label>
          <input class="arma_attrib attrib2" type="text" name="data.coste" value="{{data.data.coste}}" data-dtype="Number" maxlength="2"/>
       </div>
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">C.MÍNIMO</label>
          <input class="arma_attrib attrib2" type="text" name="data.minimo" value="{{data.data.minimo}}" data-dtype="Number" maxlength="2"/>
       </div>
       <div class="flexcol flexcenter arma_attrib">
          <label class="arma_attrib attrib_name">DIFICULTAD</label>
          <input class="arma_attrib attrib2" type="text" name="data.dificultad" value="{{data.data.dificultad}}" data-dtype="Number" maxlength="2"/>
       </div>
    </div>
    <div class="flexcol flexcenter arma_caja">
      <label class="arma_attrib attrib_name">REQUISITOS</label>
      <div class="flexcol flexcenter arma_caja cajacent">
      {{editor content=data.data.requisitos target="data.requisitos" button=true owner=owner editable=true}}
      </div>
   </div>
   <div class="flexcol flexcenter arma_caja">
     <label class="arma_attrib attrib_name">DESCRIPCIÓN</label>
     <div class="flexcol flexcenter arma_caja cajacent">
     {{editor content=data.data.descripcion target="data.descripcion" button=true owner=owner editable=true}}
     </div>
  </div>
  </div>
</form>
